In [81]:
import pandas as pd
import datawrapper as dw
import requests

In [82]:
# Load the latest clean withdrawals data from Treasury API following update
withdrawals_combined_file_path = "data/withdrawals.parquet"
withdrawals = pd.read_parquet(withdrawals_combined_file_path)

# Quick show of date range, info, head and date range of record_date
print(f"Date range of this data: from {withdrawals['record_date'].min()} to {withdrawals['record_date'].max()}")
withdrawals.info()
withdrawals.head(10)

Date range of this data: from 2012-10-01 00:00:00 to 2025-04-24 00:00:00
<class 'pandas.core.frame.DataFrame'>
Index: 183514 entries, 0 to 187789
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   record_date              183514 non-null  datetime64[ns]
 1   account_type             183514 non-null  object
 2   transaction_type         183514 non-null  object
 3   transaction_catg         183514 non-null  object
 4   transaction_catg_desc    183514 non-null  object
 5   transaction_today_amt    183514 non-null  int64
 6   transaction_mtd_amt      183514 non-null  object
 7   transaction_fytd_amt     183514 non-null  object
 8   table_nbr                183514 non-null  object
 9   table_nm                 183514 non-null  object
 10  src_line_nbr             183514 non-null  object
 11  record_fiscal_year       183514 non-null  object
 12  record_fiscal_quarter    183514 non-null  object
 13  record_calendar_year     183514 non-null  object
 14  record_calendar_quarter  183514 non-null  object
 15  record_calendar_month    183514 non-null  object
 16  record_calendar_day      183514 non-null  object
dtypes: datetime64[ns](1), int64(1), object(15)
memory usage: 25.2+ MB

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
0,2012-10-01,Federal Reserve Account,Withdrawals,Commodity Credit Corporation programs,null,39,39,39,II,Deposits and Withdrawals of Operating Cash,33,2013,1,2012,4,10,01
1,2012-10-01,Federal Reserve Account,Withdrawals,Temporary Assistance for Needy Families (HHS),null,31,31,31,II,Deposits and Withdrawals of Operating Cash,56,2013,1,2012,4,10,01
2,2012-10-01,Federal Reserve Account,Withdrawals,Transportation Security Admin. (DHS),null,0,0,0,II,Deposits and Withdrawals of Operating Cash,57,2013,1,2012,4,10,01
3,2012-10-01,Federal Reserve Account,Withdrawals,Unemployment Insurance Benefits,null,210,210,210,II,Deposits and Withdrawals of Operating Cash,58,2013,1,2012,4,10,01
4,2012-10-01,Federal Reserve Account,Withdrawals,Veterans Affairs programs,null,491,491,491,II,Deposits and Withdrawals of Operating Cash,59,2013,1,2012,4,10,01
5,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,Civil Service Retirement (EFT),4892,4892,4892,II,Deposits and Withdrawals of Operating Cash,60,2013,1,2012,4,10,01
6,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,Emergency Prep & Response (DHS),63,63,63,II,Deposits and Withdrawals of Operating Cash,61,2013,1,2012,4,10,01
7,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,Federal Financing Bank,113,113,113,II,Deposits and Withdrawals of Operating Cash,63,2013,1,2012,4,10,01
8,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,International Monetary Fund,100,100,100,II,Deposits and Withdrawals of Operating Cash,64,2013,1,2012,4,10,01
9,2012-10-01,Federal Reserve Account,Withdrawals,Supple. Nutrition Assist. Program (SNAP),null,24,24,24,II,Deposits and Withdrawals of Operating Cash,55,2013,1,2012,4,10,01

In [83]:
# Read category_crosswalk.csv
category_crosswalk_file_path = "data/category_crosswalk.csv"
category_crosswalk = pd.read_csv(category_crosswalk_file_path, keep_default_na=False)
# Display the info and first few rows of the crosswalk DataFrame
category_crosswalk.info()
category_crosswalk.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   transaction_catg       214 non-null    object
 1   transaction_catg_desc  214 non-null    object
 2   category               214 non-null    object
 3   agency                 214 non-null    object
 4   cbs_notes              214 non-null    object
dtypes: object(5)
memory usage: 8.5+ KB

,transaction_catg,transaction_catg_desc,category,agency,cbs_notes
0,District of Columbia,null,District of Columbia,DC,
1,Other Withdrawals,District of Columbia,District of Columbia,DC,
2,DHS - Customs & Border Protection (CBP),null,Customs & Border Protection,DHS,
3,Other Withdrawals,Customs and Borders Protection (DHS),Customs & Border Protection,DHS,
4,Dept of Homeland Security (DHS) - misc,null,Department of Homeland Security,DHS,
5,DHS - Fed Emergency Mgmt Agency (FEMA),null,Federal Emergency Management Agency,DHS,
6,Other Withdrawals,Emergency Prep & Response (DHS),Federal Emergency Management Agency,DHS,
7,Unemployment Assist - FEMA Lost Wage Pmt,null,FEMA Lost Wages Payments,DHS,
8,DHS - Transportation Security Admn (TSA),null,Transportation Security Administration,DHS,
9,Transportation Security Admin. (DHS),null,Transportation Security Administration,DHS,

In [84]:
# Merge data with crosswalk to standardize categories by adding new columns
withdrawals = withdrawals.merge(
    category_crosswalk, 
    how='left', 
    left_on=['transaction_catg', 'transaction_catg_desc'], 
    right_on=['transaction_catg', 'transaction_catg_desc']
)

# Display the info and first few rows of the updated DataFrame
withdrawals.info()
withdrawals.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183514 entries, 0 to 183513
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   record_date              183514 non-null  datetime64[ns]
 1   account_type             183514 non-null  object
 2   transaction_type         183514 non-null  object
 3   transaction_catg         183514 non-null  object
 4   transaction_catg_desc    183514 non-null  object
 5   transaction_today_amt    183514 non-null  int64
 6   transaction_mtd_amt      183514 non-null  object
 7   transaction_fytd_amt     183514 non-null  object
 8   table_nbr                183514 non-null  object
 9   table_nm                 183514 non-null  object
 10  src_line_nbr             183514 non-null  object
 11  record_fiscal_year       183514 non-null  object
 12  record_fiscal_quarter    183514 non-null  object
 13  record_calendar_year     183514 non-null  object
 14  record_calendar_quarter  183514 non-null  object
 15  record_calendar_month    183514 non-null  object
 16  record_calendar_day      183514 non-null  object
 17  category                 183514 non-null  object
 18  agency                   183514 non-null  object
 19  cbs_notes                183514 non-null  object
dtypes: datetime64[ns](1), int64(1), object(18)
memory usage: 28.0+ MB

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day,category,agency,cbs_notes
0,2012-10-01,Federal Reserve Account,Withdrawals,Commodity Credit Corporation programs,null,39,39,39,II,Deposits and Withdrawals of Operating Cash,33,2013,1,2012,4,10,01,USDA Commodity Credit Corporation,USDA,
1,2012-10-01,Federal Reserve Account,Withdrawals,Temporary Assistance for Needy Families (HHS),null,31,31,31,II,Deposits and Withdrawals of Operating Cash,56,2013,1,2012,4,10,01,Temporary Assistance for Needy Families,HHS,
2,2012-10-01,Federal Reserve Account,Withdrawals,Transportation Security Admin. (DHS),null,0,0,0,II,Deposits and Withdrawals of Operating Cash,57,2013,1,2012,4,10,01,Transportation Security Administration,DHS,
3,2012-10-01,Federal Reserve Account,Withdrawals,Unemployment Insurance Benefits,null,210,210,210,II,Deposits and Withdrawals of Operating Cash,58,2013,1,2012,4,10,01,Unemployment Insurance Benefits,DOL,
4,2012-10-01,Federal Reserve Account,Withdrawals,Veterans Affairs programs,null,491,491,491,II,Deposits and Withdrawals of Operating Cash,59,2013,1,2012,4,10,01,Department of Veterans Affairs,VA,
5,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,Civil Service Retirement (EFT),4892,4892,4892,II,Deposits and Withdrawals of Operating Cash,60,2013,1,2012,4,10,01,Civil Service Retirement & Disability,OPM,
6,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,Emergency Prep & Response (DHS),63,63,63,II,Deposits and Withdrawals of Operating Cash,61,2013,1,2012,4,10,01,Federal Emergency Management Agency,DHS,
7,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,Federal Financing Bank,113,113,113,II,Deposits and Withdrawals of Operating Cash,63,2013,1,2012,4,10,01,Federal Financing Bank,Treasury,
8,2012-10-01,Federal Reserve Account,Withdrawals,Other Withdrawals,International Monetary Fund,100,100,100,II,Deposits and Withdrawals of Operating Cash,64,2013,1,2012,4,10,01,International Monetary Fund,IMF,
9,2012-10-01,Federal Reserve Account,Withdrawals,Supple. Nutrition Assist. Program (SNAP),null,24,24,24,II,Deposits and Withdrawals of Operating Cash,55,2013,1,2012,4,10,01,Supplemental Nutrition Assistance Program (SNAP),USDA,

In [85]:
# count instances of each category in withdrawals and 
category_counts = withdrawals['category'].value_counts().reset_index()
category_counts.columns = ['category', 'count']
# Display the info and first few rows of the category counts DataFrame
category_counts.info()
category_counts.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  123 non-null    object
 1   count     123 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

                                       category  count
0                                      Medicare   8388
1            Excluded Transfers Should Be Empty   4796
2             USDA Commodity Credit Corporation   3155
3               Interest on Treasury Securities   3155
4          Federal Employees Insurance Payments   3155
5                Federal Highway Administration   3155
6                     Federal Employee Salaries   3155
7  Food and Nutrition Service / Child Nutrition   3155
8               General Services Administration   3155
9                       Department of Education   3155

In [86]:
# Quick report on this year so far
# Filter for spending between Jan. 20, 2025, and the most recent date
filtered_withdrawals = withdrawals[
    (withdrawals["record_date"] >= "2025-01-20") & 
    (withdrawals["record_date"] <= pd.Timestamp.now())
]

# Group by transaction_catg and sum the transaction_today_amt for each category
category_spending = (
    filtered_withdrawals
    .groupby("category", as_index=False)
    .agg({"transaction_today_amt": "sum"})
    .rename(columns={"transaction_today_amt": "total_spending"})
)

# Sort by total_spending in descending order
category_spending = category_spending.sort_values(by="total_spending", ascending=False).reset_index(drop=True)

# Display the info and first few rows of the category spending DataFrame
print(category_spending.info())
print(category_spending.head(10))

total_spending_2025 = category_spending["total_spending"].sum()
print(f"Total spending in Trump Administration since Jan. 20: ${total_spending_2025:,.2f}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        96 non-null     object
 1   total_spending  96 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.6+ KB
None
                           category  total_spending
0  Social Security Benefit Payments          389776
1                          Medicare          305133
2            Individual Tax Refunds          241846
3                          Medicaid          175948
4   Interest on Treasury Securities          147509
5             Department of Defense          123843
6                      Unclassified           77793
7         Federal Employee Salaries           62186
8           Department of Education           61614
9         Veterans Affairs Benefits           52009
Total spending in Trump Administration since Jan. 20: $2,175,356.00

In [87]:
# REMEMBER THIS IS FOR CALENDAR YEAR TOTALS 
# FOR INTEGRITY AND SANITY CHECKS

# Create an empty list to store yearly spending DataFrames IN CALENDAR YEARS
yearly_spending_list = []

# Loop through each CALENDAR year
for year in range(2013, 2026):
    # Filter withdrawals for the given CALENDAR year using record_calendar_year
    filtered_withdrawals = withdrawals[withdrawals["record_calendar_year"] == str(year)]
    
    # Group by transaction_catg and transaction_catg_desc, and sum the transaction_today_amt for each category
    yearly_spending = (
        filtered_withdrawals
        .groupby(["category","agency"], as_index=False)
        .agg({"transaction_today_amt": "sum"})
        .rename(columns={"transaction_today_amt": f"cy_total_{year}"})
    )
    
    # Append the yearly spending DataFrame to the list
    yearly_spending_list.append(yearly_spending)

# Merge all yearly spending DataFrames into a single pivot table
total_cy_spending = yearly_spending_list[0]
for yearly_spending in yearly_spending_list[1:]:
    total_cy_spending = total_cy_spending.merge(
        yearly_spending, 
        on=["category", "agency"], 
        how="outer"
    )

# Fill NaN values with 0 for categories that don't appear in some years
total_cy_spending = total_cy_spending.fillna(0)

# Sort the pivot table by total spending in the most recent year (descending order) for the most recent full year
total_cy_spending = total_cy_spending.sort_values(by=f"cy_total_2024", ascending=False).reset_index(drop=True)

# Save the pivot table to a CSV file for further analysis
total_cy_spending.to_csv("output/total_annual_spending_CY.csv", index=False)

# Display the info and first few rows of the pivot table
total_cy_spending.info()
total_cy_spending.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category       124 non-null    object
 1   agency         124 non-null    object
 2   cy_total_2013  124 non-null    float64
 3   cy_total_2014  124 non-null    float64
 4   cy_total_2015  124 non-null    float64
 5   cy_total_2016  124 non-null    float64
 6   cy_total_2017  124 non-null    float64
 7   cy_total_2018  124 non-null    float64
 8   cy_total_2019  124 non-null    float64
 9   cy_total_2020  124 non-null    float64
 10  cy_total_2021  124 non-null    float64
 11  cy_total_2022  124 non-null    float64
 12  cy_total_2023  124 non-null    float64
 13  cy_total_2024  124 non-null    float64
 14  cy_total_2025  124 non-null    float64
dtypes: float64(13), object(2)
memory usage: 14.7+ KB

,category,agency,cy_total_2013,cy_total_2014,cy_total_2015,cy_total_2016,cy_total_2017,cy_total_2018,cy_total_2019,cy_total_2020,cy_total_2021,cy_total_2022,cy_total_2023,cy_total_2024,cy_total_2025
0,Social Security Benefit Payments,SSA,733297.0,770085.0,828724.0,802027.0,848662.0,881750.0,934338.0,996462.0,987040.0,1092176.0,1234004.0,1314180.0,474197.0
1,Medicare,HHS,575039.0,617792.0,639005.0,671211.0,702102.0,732098.0,786710.0,933490.0,856194.0,921773.0,1044782.0,1144779.0,382428.0
2,Medicaid,HHS,259718.0,309563.0,351968.0,367109.0,366781.0,383679.0,409163.0,476323.0,528138.0,594407.0,612060.0,627333.0,208980.0
3,Interest on Treasury Securities,Treasury,218238.0,226243.0,235495.0,237461.0,248086.0,276158.0,306855.0,311758.0,292967.0,303270.0,406904.0,534805.0,157257.0
4,Department of Defense,DOD,332566.0,311008.0,293467.0,287796.0,281109.0,325855.0,361517.0,372204.0,372111.0,402349.0,398241.0,459096.0,142751.0

In [88]:
# REPEATING TOTALS FOR FISCAL YEARS

# Create an empty list to store yearly spending DataFrames IN CALENDAR YEARS
yearly_spending_list = []

# Loop through each CALENDAR year
for year in range(2013, 2026):
    # Filter withdrawals for the given CALENDAR year using record_calendar_year
    filtered_withdrawals = withdrawals[withdrawals["record_fiscal_year"] == str(year)]
    
    # Group by transaction_catg and transaction_catg_desc, and sum the transaction_today_amt for each category
    yearly_spending = (
        filtered_withdrawals
        .groupby(["category","agency"], as_index=False)
        .agg({"transaction_today_amt": "sum"})
        .rename(columns={"transaction_today_amt": f"fy_total_{year}"})
    )
    
    # Append the yearly spending DataFrame to the list
    yearly_spending_list.append(yearly_spending)

# Merge all yearly spending DataFrames into a single pivot table
total_fy_spending = yearly_spending_list[0]
for yearly_spending in yearly_spending_list[1:]:
    total_fy_spending = total_fy_spending.merge(
        yearly_spending, 
        on=["category", "agency"], 
        how="outer"
    )

# Fill NaN values with 0 for categories that don't appear in some years
total_fy_spending = total_fy_spending.fillna(0)

# Sort the pivot table by total spending in the most recent year (descending order) for the most recent full year
total_fy_spending = total_fy_spending.sort_values(by=f"fy_total_2024", ascending=False).reset_index(drop=True)

# Save the pivot table to a CSV file for further analysis
total_fy_spending.to_csv("output/total_annual_spending_FY.csv", index=False)

# Display the info and first few rows of the pivot table
total_fy_spending.info()
total_fy_spending.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category       125 non-null    object
 1   agency         125 non-null    object
 2   fy_total_2013  125 non-null    float64
 3   fy_total_2014  125 non-null    float64
 4   fy_total_2015  125 non-null    float64
 5   fy_total_2016  125 non-null    float64
 6   fy_total_2017  125 non-null    float64
 7   fy_total_2018  125 non-null    float64
 8   fy_total_2019  125 non-null    float64
 9   fy_total_2020  125 non-null    float64
 10  fy_total_2021  125 non-null    float64
 11  fy_total_2022  125 non-null    float64
 12  fy_total_2023  125 non-null    float64
 13  fy_total_2024  125 non-null    float64
 14  fy_total_2025  125 non-null    float64
dtypes: float64(13), object(2)
memory usage: 14.8+ KB

,category,agency,fy_total_2013,fy_total_2014,fy_total_2015,fy_total_2016,fy_total_2017,fy_total_2018,fy_total_2019,fy_total_2020,fy_total_2021,fy_total_2022,fy_total_2023,fy_total_2024,fy_total_2025
0,Social Security Benefit Payments,SSA,719760.0,761805.0,796360.0,820464.0,843112.0,873049.0,921207.0,964474.0,1000040.0,1070680.0,1198329.0,1293434.0,807069.0
1,Medicare,HHS,573184.0,604703.0,630499.0,686482.0,700247.0,702285.0,774237.0,915480.0,858398.0,935606.0,1029054.0,1067157.0,673517.0
2,Medicaid,HHS,258121.0,295015.0,342555.0,361788.0,368584.0,382403.0,404214.0,454212.0,514623.0,583853.0,610671.0,616138.0,367567.0
3,Interest on Treasury Securities,Treasury,224700.0,223299.0,233086.0,242560.0,239930.0,260375.0,305671.0,314679.0,294828.0,299450.0,372808.0,501518.0,300110.0
4,Department of Defense,DOD,343094.0,315607.0,296113.0,289703.0,278699.0,315345.0,350188.0,373641.0,370108.0,394136.0,382716.0,455503.0,267463.0

In [89]:
# Calculate the max date so far this year
max_date = withdrawals["record_date"].max()
current_year = max_date.year
days_elapsed = (max_date - pd.to_datetime(f"{current_year}-01-20")).days

# Create an empty list to store yearly spending DataFrames
yearly_spending_list = []

# Loop through each fiscal year
for year in range(2013,2026):
    # Define the start and end dates for the fiscal year
    start_date = pd.to_datetime(f"{year}-01-20")
    end_date = start_date + pd.Timedelta(days=days_elapsed)
    
    # Filter withdrawals for the given fiscal year and time period
    filtered_withdrawals = withdrawals[
        (withdrawals["record_date"] >= start_date) &
        (withdrawals["record_date"] <= end_date)
    ]
    
    # Group by transaction_catg and sum the transaction_today_amt for each category
    yearly_spending = (
        filtered_withdrawals
        .groupby("category", as_index=False)
        .agg({"transaction_today_amt": "sum"})
        .rename(columns={"transaction_today_amt": f"{year}"})
    )
    
    # Append the yearly spending DataFrame to the list
    yearly_spending_list.append(yearly_spending)

# Merge all yearly spending DataFrames into a single pivot table
first_days_spending = yearly_spending_list[0]
for yearly_spending in yearly_spending_list[1:]:
    first_days_spending = first_days_spending.merge(yearly_spending, on="category", how="outer")

# Fill NaN values with 0 for categories that don't appear in some years
first_days_spending = first_days_spending.fillna(0)

# add a column for increase in spending from 2024 to 2025
first_days_spending["change_1yr"] = first_days_spending["2025"] - first_days_spending["2024"]

# Sort the pivot table by total spending in the most recent year (descending order)
first_days_spending = first_days_spending.sort_values(by=f"change_1yr", ascending=False).reset_index(drop=True)

# Save the pivot table to a CSV file for further analysis
first_days_spending.to_csv("output/yearly_first_days_bycategory.csv", index=False)

# Display the info and first few rows of the pivot table
first_days_spending.info()
# print days elapsed since jan 20
print(f"Days elapsed since January 20, 2025: {days_elapsed}")
first_days_spending.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   category    121 non-null    object
 1   2013        121 non-null    float64
 2   2014        121 non-null    float64
 3   2015        121 non-null    float64
 4   2016        121 non-null    float64
 5   2017        121 non-null    float64
 6   2018        121 non-null    float64
 7   2019        121 non-null    float64
 8   2020        121 non-null    float64
 9   2021        121 non-null    float64
 10  2022        121 non-null    float64
 11  2023        121 non-null    float64
 12  2024        121 non-null    float64
 13  2025        121 non-null    float64
 14  change_1yr  121 non-null    float64
dtypes: float64(14), object(1)
memory usage: 14.3+ KB
Days elapsed since January 20, 2025: 94

,category,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,change_1yr
0,Social Security Benefit Payments,192406.0,203953.0,227309.0,219029.0,210516.0,218420.0,249525.0,260985.0,270198.0,270752.0,305972.0,325132.0,389776.0,64644.0
1,Medicare,150357.0,156555.0,164296.0,168521.0,176289.0,183232.0,199349.0,305674.0,218961.0,221896.0,254314.0,267465.0,305133.0,37668.0
2,Interest on Treasury Securities,54395.0,55602.0,58888.0,60654.0,61321.0,64985.0,74881.0,79783.0,74049.0,72757.0,94073.0,119053.0,147509.0,28456.0
3,Individual Tax Refunds,212479.0,219643.0,220731.0,217825.0,222955.0,224017.0,229915.0,353232.0,211518.0,235044.0,207593.0,219412.0,241846.0,22434.0
4,Unclassified,83251.0,81192.0,82381.0,82685.0,78375.0,78362.0,81937.0,86937.0,137319.0,85322.0,106496.0,58835.0,77793.0,18958.0
5,Medicaid,65814.0,77686.0,94358.0,93346.0,94317.0,98716.0,107736.0,120351.0,132408.0,153938.0,166886.0,164076.0,175948.0,11872.0
6,Department of Defense,87078.0,83190.0,79491.0,78120.0,73958.0,82277.0,94800.0,99842.0,96791.0,101672.0,97658.0,112125.0,123843.0,11718.0
7,Department of Veterans Affairs,12023.0,13635.0,14982.0,14492.0,15678.0,16039.0,17639.0,15665.0,16649.0,18781.0,21510.0,22703.0,31485.0,8782.0
8,Department of Agriculture,1809.0,1561.0,1404.0,1507.0,1451.0,1635.0,2457.0,2729.0,11914.0,6472.0,6134.0,7422.0,14684.0,7262.0
9,DOD Health,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7092.0,7092.0
10,HHS Marketplace Payments,0.0,0.0,9829.0,14522.0,15760.0,18852.0,17790.0,18654.0,18313.0,24229.0,31834.0,40267.0,46501.0,6234.0
11,Federal Emergency Management Agency,6796.0,1098.0,571.0,724.0,1331.0,5279.0,3418.0,2434.0,9291.0,7638.0,9995.0,8504.0,14672.0,6168.0
12,Veterans Affairs Benefits,14001.0,15655.0,17201.0,18245.0,19424.0,21129.0,23269.0,30499.0,31696.0,35067.0,40332.0,46308.0,52009.0,5701.0
13,Federal Employee Salaries,42189.0,41632.0,44238.0,43750.0,46072.0,48534.0,51435.0,52151.0,53890.0,55590.0,59240.0,58489.0,62186.0,3697.0
14,Department of Housing and Urban Development,20295.0,20490.0,18603.0,18230.0,17593.0,17361.0,18165.0,18304.0,18467.0,21179.0,18535.0,20221.0,23508.0,3287.0
15,Department of Treasury,1373.0,1463.0,363.0,0.0,244.0,0.0,0.0,0.0,0.0,412.0,2374.0,928.0,3428.0,2500.0
16,Federal Highway Administration,8169.0,8608.0,6909.0,9091.0,8603.0,8741.0,8579.0,10090.0,9721.0,9655.0,10935.0,11457.0,13192.0,1735.0
17,U.S. Army Corps of Engineers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6130.0,7834.0,1704.0
18,Pension Benefit Guaranty Corporation,1352.0,1362.0,1387.0,1393.0,1403.0,1418.0,1451.0,1501.0,1818.0,2981.0,1950.0,1742.0,3283.0,1541.0
19,International Monetary Fund,456.0,1054.0,1670.0,15260.0,378.0,404.0,2954.0,1556.0,1005.0,535.0,458.0,2053.0,3492.0,1439.0
20,Department of Commerce,0.0,0.0,0.0,0.0,0.0,0.0,288.0,2248.0,1998.0,1904.0,2052.0,2546.0,3863.0,1317.0
21,Department of Justice,3848.0,3917.0,3860.0,4532.0,5072.0,4828.0,5393.0,6166.0,5471.0,5441.0,8343.0,5810.0,7117.0,1307.0
22,DOD Military Active Duty Pay,19802.0,19773.0,18865.0,19030.0,19206.0,19988.0,20738.0,21260.0,22279.0,22803.0,23697.0,25083.0,26340.0,1257.0
23,Small Business Administration,61.0,122.0,0.0,0.0,0.0,0.0,0.0,8190.0,155872.0,97544.0,6450.0,1449.0,2619.0,1170.0
24,Federal Financing Bank,1364.0,2163.0,875.0,647.0,301.0,683.0,2744.0,2024.0,489.0,1480.0,1466.0,951.0,2079.0,1128.0
25,Foreign Military Sales,69.0,211.0,78.0,167.0,0.0,1607.0,0.0,397.0,0.0,203.0,214.0,6616.0,7725.0,1109.0
26,Federal Railroad Administration,213.0,462.0,368.0,465.0,701.0,420.0,791.0,3269.0,4348.0,841.0,1057.0,865.0,1947.0,1082.0
27,Supplemental Nutrition Assistance Program (SNAP),949.0,956.0,19708.0,18007.0,17495.0,16600.0,16480.0,17887.0,30995.0,36788.0,36154.0,27091.0,28139.0,1048.0
28,Claims Judgments and Relief Acts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,568.0,760.0,383.0,1357.0,974.0
29,USDA Loan Payments,501.0,64.0,553.0,378.0,443.0,277.0,926.0,758.0,2409.0,2239.0,3068.0,3523.0,4479.0,956.0
30,Unemployment Insurance Benefits,19570.0,11800.0,10331.0,10182.0,9376.0,8874.0,8726.0,38025.0,136642.0,8809.0,9284.0,10760.0,11712.0,952.0
31,Environmental Protection Agency,453.0,271.0,365.0,0.0,142.0,0.0,103.0,348.0,1430.0,1730.0,2102.0,3525.0,4448.0,923.0
32,Federal Transit Administration,1724.0,1274.0,1879.0,1320.0,1625.0,1472.0,2281.0,2175.0,5827.0,10845.0,4725.0,5005.0,5920.0,915.0
33,Indian Health Service,647.0,1268.0,1267.0,1372.0,263.0,280.0,953.0,1155.0,1582.0,1466.0,1638.0,1288.0,2150.0,862.0
34,Department of Energy,8689.0,8580.0,8811.0,8850.0,8820.0,8715.0,9542.0,10362.0,11328.0,11439.0,14127.0,14852.0,15695.0,843.0
35,HHS Administration for Children & Families,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3413.0,7201.0,7861.0,8324.0,7661.0,8326.0,665.0
36,National Institutes of Health,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4364.0,9873.0,10419.0,11253.0,11621.0,12278.0,657.0
37,Social Security Supplemental Security Income,11748.0,12803.0,12812.0,12921.0,12842.0,13051.0,13323.0,13392.0,13392.0,14268.0,15223.0,15698.0,16250.0,552.0
38,Food and Nutrition Service / Child Nutrition,27643.0,26277.0,8390.0,8433.0,8610.0,8595.0,8425.0,8127.0,7157.0,10251.0,8215.0,8417.0,8966.0,549.0
39,DOI Water and Science,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,454.0,478.0,611.0,716.0,1262.0,546.0
40,Department of Labor,3632.0,3682.0,3975.0,3951.0,3857.0,3743.0,3673.0,3944.0,5453.0,4606.0,4374.0,4499.0,5011.0,512.0
41,DOD Military Retirement,12155.0,12416.0,12728.0,12790.0,12883.0,13404.0,13822.0,14080.0,14270.0,15256.0,16719.0,17462.0,17965.0,503.0
42,United States Mint,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,809.0,1412.0,852.0,1349.0,497.0
43,Department of Health and Human Services,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41671.0,20519.0,18185.0,7094.0,5999.0,6424.0,425.0
44,DOI Fish and Wildlife and Parks,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,916.0,1011.0,1152.0,1263.0,1649.0,386.0
45,National Science Foundation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1722.0,1807.0,2083.0,2175.0,2510.0,335.0
46,Supplemental Nutrition Assistance Program (WIC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1302.0,1441.0,1893.0,1908.0,2225.0,317.0
47,Economic Recovery Programs,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,-2034.0,-160.0,121.0,181.0,468.0,287.0
48,General Services Administration,4954.0,4985.0,4613.0,4936.0,5209.0,5414.0,5944.0,7414.0,6763.0,7358.0,8001.0,9124.0,9379.0,255.0
49,Civil Service Retirement & Disability,15141.0,15644.0,16063.0,16122.0,16190.0,16969.0,17584.0,17924.0,18016.0,19115.0,21021.0,21449.0,21664.0,215.0

In [90]:
# Filter first_days_spend to show only categories with more than $100 million in spending
first_days_spending_100m = first_days_spending[first_days_spending["2025"] >= 100]
# filter out the category "Unclassified"
first_days_spending_100m = first_days_spending_100m[first_days_spending_100m["category"] != "Unclassified"]

# show me the whole table
print(first_days_spending_100m)

# Save the filtered DataFrame to a CSV file
first_days_spending_100m.to_csv("output/yearly_first_days_bycategory_100m.csv", index=False)

                                   category      2013      2014      2015  \
0          Social Security Benefit Payments  192406.0  203953.0  227309.0
1                                  Medicare  150357.0  156555.0  164296.0
2           Interest on Treasury Securities   54395.0   55602.0   58888.0
3                    Individual Tax Refunds  212479.0  219643.0  220731.0
5                                  Medicaid   65814.0   77686.0   94358.0
..                                      ...       ...       ...       ...
116  Federal Retirement Thrift Savings Plan    9023.0    5158.0    9732.0
117       Federal Communications Commission       0.0       0.0       0.0
118                    Business Tax Refunds    9024.0    6829.0    9900.0
119    Federal Employees Insurance Payments   18729.0   19773.0   21554.0
120                 Department of Education   54149.0   55562.0   54948.0

         2016      2017      2018      2019      2020      2021      2022  \
0    219029.0  210516.0  218420.0  249525.0  260985.0  270198.0  270752.0
1    168521.0  176289.0  183232.0  199349.0  305674.0  218961.0  221896.0
2     60654.0   61321.0   64985.0   74881.0   79783.0   74049.0   72757.0
3    217825.0  222955.0  224017.0  229915.0  353232.0  211518.0  235044.0
5     93346.0   94317.0   98716.0  107736.0  120351.0  132408.0  153938.0
..        ...       ...       ...       ...       ...       ...       ...
116   10238.0   10492.0   18970.0   27889.0   28261.0   17374.0   22523.0
117       0.0       0.0       0.0       0.0       0.0    1227.0    2350.0
118    9324.0    6989.0   11870.0    7034.0    7139.0    5672.0    8826.0
119   19804.0   19928.0   20389.0   21781.0   22917.0   24350.0   23731.0
120   52249.0   50814.0   47730.0   49387.0   49588.0   60127.0   69355.0

         2023      2024      2025  change_1yr
0    305972.0  325132.0  389776.0     64644.0
1    254314.0  267465.0  305133.0     37668.0
2     94073.0  119053.0  147509.0     28456.0
3    207593.0  219412.0  241846.0     22434.0
5    166886.0  164076.0  175948.0     11872.0
..        ...       ...       ...         ...
116   12101.0   16523.0   14424.0     -2099.0
117    2407.0    3107.0     532.0     -2575.0
118    7613.0    7373.0    4414.0     -2959.0
119   26058.0   26581.0   22083.0     -4498.0
120   66422.0   67116.0   61614.0     -5502.0

[91 rows x 15 columns]

In [91]:
# From first_days_spending, let's filter for just Medicare, Medicaid, and Social Security from category
senior_programs = first_days_spending[
    first_days_spending["category"].isin([
        "Medicare", 
        "Medicaid", 
        "Social Security Benefit Payments"
    ])
]
# drop the change_1yr column
senior_programs = senior_programs.drop(columns=["change_1yr"])

# Repeat this for Interest On Treasury Securities
interest_payments = first_days_spending[
    first_days_spending["category"] == "Interest on Treasury Securities"
]
# drop the change_1yr column
interest_payments = interest_payments.drop(columns=["change_1yr"])

# Repeat for Department of Defense, Military Active Duty Pay and Veterans Benefits
military_veterans_direct = first_days_spending[
    first_days_spending["category"].isin([
        "DOD Military Active Duty Pay", 
        "DOD Military Retirement",
        "Veterans Affairs Benefits"
    ])
]
# drop the change_1yr column
military_veterans_direct = military_veterans_direct.drop(columns=["change_1yr"])

# Repeat for Federal Employee Salaries and Civil Service Retirement
federal_employee_salaries = first_days_spending[
    first_days_spending["category"].isin([
        "Federal Employee Salaries", 
        "Civil Service Retirement & Disability"
    ])
]
# drop the change_1yr column
federal_employee_salaries = federal_employee_salaries.drop(columns=["change_1yr"])

# Repeat for Department of Defense, Military Active Duty Pay and Veterans Benefits
decreasing_agencies = first_days_spending[
    first_days_spending["category"].isin([
        "Department of Education", 
        "Agency for International Development (USAID)",
        "Department of State",
        "United States Postal Service",
        "Federal Communications Commission",
        "Federal Employees Insurance Payments",
        "HHS Payments to States"])
]
# drop the change_1yr column
decreasing_agencies = decreasing_agencies.drop(columns=["change_1yr"])


# Output all three DataFrames to CSV files
senior_programs.to_csv("output/senior_programs_first_days.csv", index=False)
interest_payments.to_csv("output/interest_payments_first_days.csv", index=False)
military_veterans_direct.to_csv("output/military_veterans_first_days.csv", index=False)
federal_employee_salaries.to_csv("output/federal_employee_salaries_first_days.csv", index=False)
decreasing_agencies.to_csv("output/decreasing_agencies_first_days.csv", index=False)

In [92]:
# Repeat this to get the grand totals across all of government for each year during this same time frame

# Calculate the max date so far this year
max_date = withdrawals["record_date"].max()
current_year = max_date.year
days_elapsed = (max_date - pd.to_datetime(f"{current_year}-01-20")).days

# Create a list to store total spending for each year
yearly_totals = []

# Loop through each fiscal year
for year in range(2013, 2026):
    # Define the start and end dates for the fiscal year
    start_date = pd.to_datetime(f"{year}-01-20")
    end_date = start_date + pd.Timedelta(days=days_elapsed)
    
    # Filter withdrawals for the given fiscal year and time period
    filtered_withdrawals = withdrawals[
        (withdrawals["record_date"] >= start_date) &
        (withdrawals["record_date"] <= end_date)
    ]
    
    # Calculate the total spending for the year
    total_spending = filtered_withdrawals["transaction_today_amt"].sum()
    
    # Append the total spending to the list
    yearly_totals.append({"year": year, "total_spending": total_spending})

# Convert the yearly totals to a DataFrame
yearly_first_days_totals = pd.DataFrame(yearly_totals)

# Save the yearly totals DataFrame to a CSV file for further analysis
yearly_first_days_totals.to_csv("output/yearly_first_days_totals.csv", index=False)

# Display the info and first few rows of the yearly totals DataFrame
yearly_first_days_totals.info()
yearly_first_days_totals.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            13 non-null     int64
 1   total_spending  13 non-null     int64
dtypes: int64(2)
memory usage: 340.0 bytes

    year  total_spending
0   2013         1243188
1   2014         1262863
2   2015         1335082
3   2016         1339925
4   2017         1321076
5   2018         1382158
6   2019         1499962
7   2020         1998536
8   2021         2324908
9   2022         1852300
10  2023         1949901
11  2024         1922439
12  2025         2175356

In [93]:
# To create day by day charts for web, we're going to create a df with every date and number of days since Jan 20
# Filter all_dates to include only dates from January 20 to April 30 for each year
all_dates = pd.date_range(start="2013-01-20", end="2025-04-30", freq='D')
all_dates_df = pd.DataFrame({
    "record_date": all_dates,
    "day_number": all_dates.map(lambda date: (date - pd.Timestamp(f"{date.year}-01-20")).days + 1 if date <= pd.Timestamp(f"{date.year}-04-30") else 0)
})

# Ensure that only valid day numbers are included (greater than 0)
all_dates_df = all_dates_df[all_dates_df["day_number"] > 0]
# Remove rows with day_number greater than 100
all_dates_df = all_dates_df[all_dates_df["day_number"] <= 100]

# Show info and header of the filtered all_dates_df
all_dates_df.info()
all_dates_df.head(2000)

<class 'pandas.core.frame.DataFrame'>
Index: 1300 entries, 0 to 4482
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   record_date  1300 non-null   datetime64[ns]
 1   day_number   1300 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 30.5 KB

     record_date  day_number
0     2013-01-20           1
1     2013-01-21           2
2     2013-01-22           3
3     2013-01-23           4
4     2013-01-24           5
...          ...         ...
4478  2025-04-25          96
4479  2025-04-26          97
4480  2025-04-27          98
4481  2025-04-28          99
4482  2025-04-29         100

[1300 rows x 2 columns]

In [94]:
# Create a new cell for daily totals, cumulative totals, and day numbers

# Calculate the max date so far this year
max_date = withdrawals["record_date"].max()
current_year = max_date.year
days_elapsed = (max_date - pd.to_datetime(f"{current_year}-01-20")).days

# Create an empty list to store daily spending DataFrames
daily_spending_list = []

# Loop through each fiscal year
for year in range(2013, 2026):
    # Define the start and end dates for the fiscal year
    start_date = pd.to_datetime(f"{year}-01-20")
    end_date = start_date + pd.Timedelta(days=days_elapsed)
    
    # Filter withdrawals for the given fiscal year and time period
    filtered_withdrawals = withdrawals[
        (withdrawals["record_date"] >= start_date) &
        (withdrawals["record_date"] <= end_date)
    ]
    
    # Group by record_date and calculate the total spending for each day
    daily_spending = (
        filtered_withdrawals
        .groupby("record_date", as_index=False)
        .agg({"transaction_today_amt": "sum"})
        .rename(columns={"transaction_today_amt": "daily_total"})
    )
    
    # Add a cumulative total column
    daily_spending["cumulative_total"] = daily_spending["daily_total"].cumsum()
    
    # Add the year column for reference
    daily_spending["year"] = year
    
    # Add the day_number column
    # daily_spending["day_number"] = (daily_spending["record_date"] - start_date).dt.days + 1
    
    # Append the daily spending DataFrame to the list
    daily_spending_list.append(daily_spending)

# Concatenate all daily spending DataFrames into a single DataFrame
all_daily_spending = pd.concat(daily_spending_list, ignore_index=True)

# Display the info and first few rows of the daily spending DataFrame
all_daily_spending.info()
all_daily_spending.head(200)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   record_date       865 non-null    datetime64[ns]
 1   daily_total       865 non-null    int64
 2   cumulative_total  865 non-null    int64
 3   year              865 non-null    int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 27.2 KB

    record_date  daily_total  cumulative_total  year
0    2013-01-22        12417             12417  2013
1    2013-01-23        23528             35945  2013
2    2013-01-24        13291             49236  2013
3    2013-01-25         9961             59197  2013
4    2013-01-28         9566             68763  2013
..          ...          ...               ...   ...
195  2015-04-17        13419           1259851  2015
196  2015-04-20        10501           1270352  2015
197  2015-04-21        12057           1282409  2015
198  2015-04-22        28499           1310908  2015
199  2015-04-23         9759           1320667  2015

[200 rows x 4 columns]

In [95]:
# Merge the all_dates_df with the all_daily_spending DataFrame to include all dates
all_dates_with_spending = all_dates_df.merge(
    all_daily_spending, 
    on="record_date", 
    how="left"
)

# Make sure we're sorted by record_date
all_dates_with_spending = all_dates_with_spending.sort_values(by="record_date").reset_index(drop=True)

# Fill NaN values in daily_total with 0
all_dates_with_spending["daily_total"] = all_dates_with_spending["daily_total"].fillna(0)

# In first two rows for dates Jan 20-21 of 2013 replace daily_total and cumulative_total with 0
all_dates_with_spending.loc[
    (all_dates_with_spending["record_date"].isin(["2013-01-20", "2013-01-21"])), 
    ["daily_total", "cumulative_total"]
] = 0.0

# Replace cumulative_total with 0 where day_number equals 1 and cumulative_total is NaN
all_dates_with_spending.loc[
    (all_dates_with_spending["day_number"] == 1) & (all_dates_with_spending["cumulative_total"].isna()), 
    "cumulative_total"
] = 0.0

# Fill NaN values in cumulative_total with the prior figure
all_dates_with_spending["cumulative_total"] = all_dates_with_spending["cumulative_total"].fillna(method='ffill')

# Repopulate year with the year from the record_date
all_dates_with_spending["year"] = all_dates_with_spending["record_date"].dt.year

# Display the info and first few rows of the daily spending DataFrame
all_dates_with_spending.info()
all_dates_with_spending.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   record_date       1300 non-null   datetime64[ns]
 1   day_number        1300 non-null   int64
 2   daily_total       1300 non-null   float64
 3   cumulative_total  1300 non-null   float64
 4   year              1300 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1)
memory usage: 45.8 KB

/var/folders/zg/k670y_bj5s10tgs5h50smrrc0000gq/T/ipykernel_23957/2700543634.py:16: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  (all_dates_with_spending["record_date"].isin(["2013-01-20", "2013-01-21"])),
/var/folders/zg/k670y_bj5s10tgs5h50smrrc0000gq/T/ipykernel_23957/2700543634.py:27: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  all_dates_with_spending["cumulative_total"] = all_dates_with_spending["cumulative_total"].fillna(method='ffill')

  record_date  day_number  daily_total  cumulative_total  year
0  2013-01-20           1          0.0               0.0  2013
1  2013-01-21           2          0.0               0.0  2013
2  2013-01-22           3      12417.0           12417.0  2013
3  2013-01-23           4      23528.0           35945.0  2013
4  2013-01-24           5      13291.0           49236.0  2013

In [96]:
# Create pivoted table for use in web charts of first 100 days total spending by year

# Pivot the DataFrame to have dates as rows, years as columns, and cumulative totals as values
pivoted_spending = all_dates_with_spending.pivot(index="day_number", columns="year", values="cumulative_total")

# Save the pivoted DataFrame to a CSV file for further analysis
pivoted_spending.to_csv("output/first100_cum_spending_by_year.csv")

# Display the info and first few rows of the pivoted DataFrame
pivoted_spending.info()
pivoted_spending.head(100)

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1 to 100
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2013    100 non-null    float64
 1   2014    100 non-null    float64
 2   2015    100 non-null    float64
 3   2016    100 non-null    float64
 4   2017    100 non-null    float64
 5   2018    100 non-null    float64
 6   2019    100 non-null    float64
 7   2020    100 non-null    float64
 8   2021    100 non-null    float64
 9   2022    100 non-null    float64
 10  2023    100 non-null    float64
 11  2024    100 non-null    float64
 12  2025    100 non-null    float64
dtypes: float64(13)
memory usage: 10.9 KB

year,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
day_number,,,,,,,,,,,,,
1,0.0,0.0,11507.0,23720.0,11292.0,0.0,0.0,0.0,42616.0,13414.0,22687.0,0.0,0.0
2,0.0,11777.0,36902.0,34578.0,11292.0,0.0,0.0,10948.0,60861.0,37977.0,22687.0,0.0,17941.0
3,12417.0,35430.0,50071.0,45044.0,11292.0,15722.0,13842.0,45781.0,84738.0,37977.0,22687.0,22248.0,72520.0
4,35945.0,45847.0,59281.0,45044.0,19369.0,24658.0,42858.0,58553.0,84738.0,37977.0,39159.0,36415.0,90137.0
5,49236.0,55294.0,59281.0,45044.0,31206.0,51227.0,55805.0,71666.0,84738.0,52043.0,53367.0,74451.0,104818.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1243188.0,1262863.0,1335082.0,1339925.0,1321076.0,1382158.0,1499962.0,1998536.0,2324908.0,1852300.0,1949901.0,1922439.0,2175356.0
97,1243188.0,1262863.0,1335082.0,1339925.0,1321076.0,1382158.0,1499962.0,1998536.0,2324908.0,1852300.0,1949901.0,1922439.0,2175356.0
98,1243188.0,1262863.0,1335082.0,1339925.0,1321076.0,1382158.0,1499962.0,1998536.0,2324908.0,1852300.0,1949901.0,1922439.0,2175356.0
99,1243188.0,1262863.0,1335082.0,1339925.0,1321076.0,1382158.0,1499962.0,1998536.0,2324908.0,1852300.0,1949901.0,1922439.0,2175356.0
100,1243188.0,1262863.0,1335082.0,1339925.0,1321076.0,1382158.0,1499962.0,1998536.0,2324908.0,1852300.0,1949901.0,1922439.0,2175356.0