In [2]:
import pandas as pd
import numpy as np
import datawrapper as dw
import janitor
import requests

# Load the data from the Daily Treasury Statement that includes 10 years of transactions by federal agencies, specify column 4 is a string
# Using Treasury's Fiscal Data API to get pieces of the Daily Treasury Statement
# https://fiscal.treasury.gov/reports-statements/dts/

In [3]:
# Fetch the raw WITHDRAWAL data by category/department for each fiscal year and quarter back to 2015

# Define base URL
url = "https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/dts/deposits_withdrawals_operating_cash"

# Create empty list to store data
all_data = []

# Loop through fiscal years and quarters to solve for pagination limits within the API
for year in range(2013, 2025):  # From 2015 to 2024
    for quarter in range(1, 5):  # Quarters 1 to 4
        print(f"Fetching data for FY {year}, Quarter {quarter}...")
        
        # Define the parameters dynamically for each year and quarter
        params = {
            "filter": f"transaction_type:eq:Withdrawals,record_fiscal_year:eq:{year},record_fiscal_quarter:eq:{quarter}",
            "sort": "-record_date",
            "page[size]": 10000  # Number of records per page
        }
        
        # Make the GET request
        response = requests.get(url, params=params)
        
        # Check the response status
        if response.status_code == 200:
            data = response.json()  # Parse the JSON response
            
            # Extract the 'data' field and append it to the list
            if "data" in data:
                all_data.extend(data["data"])
            else:
                print(f"No data found for FY {year}, Quarter {quarter}.")
        else:
            print(f"Request failed for FY {year}, Quarter {quarter} with status code {response.status_code}: {response.text}")

# Convert the list of data to a DataFrame
withdrawals_historic = pd.DataFrame(all_data)

# Convert record_date to datetime
if not withdrawals_historic.empty:
    withdrawals_historic["record_date"] = pd.to_datetime(withdrawals_historic["record_date"])
    # Clean column names using pyjanitor
    withdrawals_historic = withdrawals_historic.clean_names()

# Display DataFrame info
withdrawals_historic.info()

# Print the range of dates in the data
if not withdrawals_historic.empty:
    max_date_api = withdrawals_historic["record_date"].max()
    min_date_api = withdrawals_historic["record_date"].min()
    print(f"Max date in API data: {max_date_api}")
    print(f"Min date in API data: {min_date_api}")

# Display the first few rows
withdrawals_historic.head()

Fetching data for FY 2013, Quarter 1...
Fetching data for FY 2013, Quarter 2...
Fetching data for FY 2013, Quarter 3...
Fetching data for FY 2013, Quarter 4...
Fetching data for FY 2014, Quarter 1...
Fetching data for FY 2014, Quarter 2...
Fetching data for FY 2014, Quarter 3...
Fetching data for FY 2014, Quarter 4...
Fetching data for FY 2015, Quarter 1...
Fetching data for FY 2015, Quarter 2...
Fetching data for FY 2015, Quarter 3...
Fetching data for FY 2015, Quarter 4...
Fetching data for FY 2016, Quarter 1...
Fetching data for FY 2016, Quarter 2...
Fetching data for FY 2016, Quarter 3...
Fetching data for FY 2016, Quarter 4...
Fetching data for FY 2017, Quarter 1...
Fetching data for FY 2017, Quarter 2...
Fetching data for FY 2017, Quarter 3...
Fetching data for FY 2017, Quarter 4...
Fetching data for FY 2018, Quarter 1...
Fetching data for FY 2018, Quarter 2...
Fetching data for FY 2018, Quarter 3...
Fetching data for FY 2018, Quarter 4...
Fetching data for FY 2019, Quarter 1...
Fetching data for FY 2019, Quarter 2...
Fetching data for FY 2019, Quarter 3...
Fetching data for FY 2019, Quarter 4...
Fetching data for FY 2020, Quarter 1...
Fetching data for FY 2020, Quarter 2...
Fetching data for FY 2020, Quarter 3...
Fetching data for FY 2020, Quarter 4...
Fetching data for FY 2021, Quarter 1...
Fetching data for FY 2021, Quarter 2...
Fetching data for FY 2021, Quarter 3...
Fetching data for FY 2021, Quarter 4...
Fetching data for FY 2022, Quarter 1...
Fetching data for FY 2022, Quarter 2...
Fetching data for FY 2022, Quarter 3...
Fetching data for FY 2022, Quarter 4...
Fetching data for FY 2023, Quarter 1...
Fetching data for FY 2023, Quarter 2...
Fetching data for FY 2023, Quarter 3...
Fetching data for FY 2023, Quarter 4...
Fetching data for FY 2024, Quarter 1...
Fetching data for FY 2024, Quarter 2...
Fetching data for FY 2024, Quarter 3...
Fetching data for FY 2024, Quarter 4...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173268 entries, 0 to 173267
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   record_date              173268 non-null  datetime64[ns]
 1   account_type             173268 non-null  object
 2   transaction_type         173268 non-null  object
 3   transaction_catg         173268 non-null  object
 4   transaction_catg_desc    173268 non-null  object
 5   transaction_today_amt    173268 non-null  object
 6   transaction_mtd_amt      173268 non-null  object
 7   transaction_fytd_amt     173268 non-null  object
 8   table_nbr                173268 non-null  object
 9   table_nm                 173268 non-null  object
 10  src_line_nbr             173268 non-null  object
 11  record_fiscal_year       173268 non-null  object
 12  record_fiscal_quarter    173268 non-null  object
 13  record_calendar_year     173268 non-null  object
 14  record_calendar_quarter  173268 non-null  object
 15  record_calendar_month    173268 non-null  object
 16  record_calendar_day      173268 non-null  object
dtypes: datetime64[ns](1), object(16)
memory usage: 22.5+ MB
Max date in API data: 2024-09-30 00:00:00
Min date in API data: 2012-10-01 00:00:00

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
0,2012-12-31,Federal Reserve Account,Withdrawals,Commodity Credit Corporation programs,null,73,1704,10290,II,Deposits and Withdrawals of Operating Cash,33,2013,1,2012,4,12,31
1,2012-12-31,Federal Reserve Account,Withdrawals,Defense Vendor Payments (EFT),null,1395,31619,92242,II,Deposits and Withdrawals of Operating Cash,34,2013,1,2012,4,12,31
2,2012-12-31,Federal Reserve Account,Withdrawals,Education Department programs,null,1581,12299,39713,II,Deposits and Withdrawals of Operating Cash,35,2013,1,2012,4,12,31
3,2012-12-31,Federal Reserve Account,Withdrawals,Energy Department programs,null,194,2919,9007,II,Deposits and Withdrawals of Operating Cash,36,2013,1,2012,4,12,31
4,2012-12-31,Federal Reserve Account,Withdrawals,Federal Employees Insurance Payments,null,390,5692,17605,II,Deposits and Withdrawals of Operating Cash,37,2013,1,2012,4,12,31

In [4]:
# Fetch the latest WITHDRAWAL data by category/department for the current fiscal year, FY2025 (can adjust for beyond)

# Define the base URL
url = "https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/dts/deposits_withdrawals_operating_cash"

# Initialize an empty list to store the data
latest_data = []

# Loop through FY2025 and its quarters
for year in range(2025, 2026):  # FY2025 and beyond
    for quarter in range(1, 5):  # Quarters 1 to 4
        print(f"Fetching data for FY {year}, Quarter {quarter}...")
        
        # Define the parameters dynamically for each year and quarter
        params = {
            "filter": f"transaction_type:eq:Withdrawals,record_fiscal_year:eq:{year},record_fiscal_quarter:eq:{quarter}",
            "sort": "-record_date",
            "page[size]": 10000  # Number of records per page
        }
        
        # Make the GET request
        response = requests.get(url, params=params)
        
        # Check the response status
        if response.status_code == 200:
            data = response.json()  # Parse the JSON response
            
            # Extract the 'data' field and append it to the list
            if "data" in data:
                latest_data.extend(data["data"])
            else:
                print(f"No data found for FY {year}, Quarter {quarter}.")
        else:
            print(f"Request failed for FY {year}, Quarter {quarter} with status code {response.status_code}: {response.text}")

# Convert the list of data to a DataFrame
withdrawals_latest = pd.DataFrame(latest_data)

# Convert record_date to datetime
if not withdrawals_latest.empty:
    withdrawals_latest["record_date"] = pd.to_datetime(withdrawals_latest["record_date"])
    # Clean column names using pyjanitor
    withdrawals_latest = withdrawals_latest.clean_names()

# Display DataFrame info
withdrawals_latest.info()

# Print the range of dates in the data
if not withdrawals_latest.empty:
    max_date_latest = withdrawals_latest["record_date"].max()
    min_date_latest = withdrawals_latest["record_date"].min()
    print(f"Max date in latest data: {max_date_latest}")
    print(f"Min date in latest data: {min_date_latest}")

# Display the first few rows
withdrawals_latest.head(25)

Fetching data for FY 2025, Quarter 1...
Fetching data for FY 2025, Quarter 2...
Fetching data for FY 2025, Quarter 3...
Fetching data for FY 2025, Quarter 4...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14008 entries, 0 to 14007
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   record_date              14008 non-null  datetime64[ns]
 1   account_type             14008 non-null  object
 2   transaction_type         14008 non-null  object
 3   transaction_catg         14008 non-null  object
 4   transaction_catg_desc    14008 non-null  object
 5   transaction_today_amt    14008 non-null  object
 6   transaction_mtd_amt      14008 non-null  object
 7   transaction_fytd_amt     14008 non-null  object
 8   table_nbr                14008 non-null  object
 9   table_nm                 14008 non-null  object
 10  src_line_nbr             14008 non-null  object
 11  record_fiscal_year       14008 non-null  object
 12  record_fiscal_quarter    14008 non-null  object
 13  record_calendar_year     14008 non-null  object
 14  record_calendar_quarter  14008 non-null  object
 15  record_calendar_month    14008 non-null  object
 16  record_calendar_day      14008 non-null  object
dtypes: datetime64[ns](1), object(16)
memory usage: 1.8+ MB
Max date in latest data: 2025-04-17 00:00:00
Min date in latest data: 2024-10-01 00:00:00

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
0,2024-12-31,Treasury General Account (TGA),Withdrawals,Corporation for Public Broadcasting,null,0,0,535,II,Deposits and Withdrawals of Operating Cash,82,2025,1,2024,4,12,31
1,2024-12-31,Treasury General Account (TGA),Withdrawals,Dept of Agriculture (USDA) - misc,null,77,2607,8797,II,Deposits and Withdrawals of Operating Cash,83,2025,1,2024,4,12,31
2,2024-12-31,Treasury General Account (TGA),Withdrawals,USDA - Child Nutrition,null,110,3150,8471,II,Deposits and Withdrawals of Operating Cash,84,2025,1,2024,4,12,31
3,2024-12-31,Treasury General Account (TGA),Withdrawals,USDA - Commodity Credit Corporation,null,70,2002,7304,II,Deposits and Withdrawals of Operating Cash,85,2025,1,2024,4,12,31
4,2024-12-31,Treasury General Account (TGA),Withdrawals,USDA - Federal Crop Insurance Corp Fund,null,48,2123,9573,II,Deposits and Withdrawals of Operating Cash,86,2025,1,2024,4,12,31
5,2024-12-31,Treasury General Account (TGA),Withdrawals,USDA - Loan Payments,null,22,1421,3694,II,Deposits and Withdrawals of Operating Cash,87,2025,1,2024,4,12,31
6,2024-12-31,Treasury General Account (TGA),Withdrawals,USDA - Other Farm Service,null,1,76,481,II,Deposits and Withdrawals of Operating Cash,88,2025,1,2024,4,12,31
7,2024-12-31,Treasury General Account (TGA),Withdrawals,USDA - Supp Nutrition Assist Prog (SNAP),null,194,9390,27759,II,Deposits and Withdrawals of Operating Cash,89,2025,1,2024,4,12,31
8,2024-12-31,Treasury General Account (TGA),Withdrawals,USDA - Supp Nutrition Assist Prog (WIC),null,28,728,1968,II,Deposits and Withdrawals of Operating Cash,90,2025,1,2024,4,12,31
9,2024-12-31,Treasury General Account (TGA),Withdrawals,Dept of Commerce (DOC),null,19,2027,5393,II,Deposits and Withdrawals of Operating Cash,91,2025,1,2024,4,12,31
10,2024-12-31,Treasury General Account (TGA),Withdrawals,Dept of Defense (DoD) - misc,null,1511,50038,124698,II,Deposits and Withdrawals of Operating Cash,92,2025,1,2024,4,12,31
11,2024-12-31,Treasury General Account (TGA),Withdrawals,DoD - Health,null,87,2407,7497,II,Deposits and Withdrawals of Operating Cash,93,2025,1,2024,4,12,31
12,2024-12-31,Treasury General Account (TGA),Withdrawals,DoD - Military Active Duty Pay,null,4408,8348,29698,II,Deposits and Withdrawals of Operating Cash,94,2025,1,2024,4,12,31
13,2024-12-31,Treasury General Account (TGA),Withdrawals,DoD - Military Retirement,null,5516,5964,23026,II,Deposits and Withdrawals of Operating Cash,95,2025,1,2024,4,12,31
14,2024-12-31,Treasury General Account (TGA),Withdrawals,Dept of Education (ED),null,1194,14544,47117,II,Deposits and Withdrawals of Operating Cash,96,2025,1,2024,4,12,31
15,2024-12-31,Treasury General Account (TGA),Withdrawals,Dept of Energy (DOE),null,80,5435,16106,II,Deposits and Withdrawals of Operating Cash,97,2025,1,2024,4,12,31
16,2024-12-31,Treasury General Account (TGA),Withdrawals,Dept of Health & Human Serv (HHS) - misc,null,31,988,2757,II,Deposits and Withdrawals of Operating Cash,98,2025,1,2024,4,12,31
17,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Centers for Disease Control (CDC),null,35,1253,4007,II,Deposits and Withdrawals of Operating Cash,99,2025,1,2024,4,12,31
18,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Federal Hospital Insr Trust Fund,null,1048,18445,102519,II,Deposits and Withdrawals of Operating Cash,100,2025,1,2024,4,12,31
19,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Federal Supple Med Insr Trust Fund,null,1126,21992,137418,II,Deposits and Withdrawals of Operating Cash,101,2025,1,2024,4,12,31
20,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Grants to States for Medicaid,null,1010,54807,158587,II,Deposits and Withdrawals of Operating Cash,102,2025,1,2024,4,12,31
21,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Health Resources & Services Admin,null,77,1432,3734,II,Deposits and Withdrawals of Operating Cash,103,2025,1,2024,4,12,31
22,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Indian Health Service,null,34,416,3554,II,Deposits and Withdrawals of Operating Cash,104,2025,1,2024,4,12,31
23,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Marketplace Payments,null,0,10617,31436,II,Deposits and Withdrawals of Operating Cash,105,2025,1,2024,4,12,31
24,2024-12-31,Treasury General Account (TGA),Withdrawals,HHS - Medicare Prescription Drugs,null,0,37,32880,II,Deposits and Withdrawals of Operating Cash,106,2025,1,2024,4,12,31

In [5]:
import pandas as pd

# Assuming `historical_withdrawals` contains the historical data (FY2015FY2024)
# and `latest_withdrawals` contains the latest data (FY2025 forward)

# Combine the two DataFrames
withdrawals = pd.concat([withdrawals_historic, withdrawals_latest], ignore_index=True)

# Drop duplicate rows if any (optional, based on your data)
withdrawals = withdrawals.drop_duplicates()

# Ensure the record_date column is in datetime format (if not already)
withdrawals["record_date"] = pd.to_datetime(withdrawals["record_date"])

# Sort the combined DataFrame by record_date (optional, for chronological order)
withdrawals = withdrawals.sort_values(by="record_date").reset_index(drop=True)

# Display the combined DataFrame info
withdrawals.info()

# Print the range of dates in the data
if not withdrawals.empty:
    max_date_latest = withdrawals["record_date"].max()
    min_date_latest = withdrawals["record_date"].min()
    print(f"Max date in latest data: {max_date_latest}")
    print(f"Min date in latest data: {min_date_latest}")

# Display the first few rows of the combined DataFrame
withdrawals.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187276 entries, 0 to 187275
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   record_date              187276 non-null  datetime64[ns]
 1   account_type             187276 non-null  object
 2   transaction_type         187276 non-null  object
 3   transaction_catg         187276 non-null  object
 4   transaction_catg_desc    187276 non-null  object
 5   transaction_today_amt    187276 non-null  object
 6   transaction_mtd_amt      187276 non-null  object
 7   transaction_fytd_amt     187276 non-null  object
 8   table_nbr                187276 non-null  object
 9   table_nm                 187276 non-null  object
 10  src_line_nbr             187276 non-null  object
 11  record_fiscal_year       187276 non-null  object
 12  record_fiscal_quarter    187276 non-null  object
 13  record_calendar_year     187276 non-null  object
 14  record_calendar_quarter  187276 non-null  object
 15  record_calendar_month    187276 non-null  object
 16  record_calendar_day      187276 non-null  object
dtypes: datetime64[ns](1), object(16)
memory usage: 24.3+ MB
Max date in latest data: 2025-04-17 00:00:00
Min date in latest data: 2012-10-01 00:00:00

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
0,2012-10-01,Federal Reserve Account,Withdrawals,Fed. Highway Administration programs,null,69,69,69,II,Deposits and Withdrawals of Operating Cash,38,2013,1,2012,4,10,01
1,2012-10-01,Federal Reserve Account,Withdrawals,Postal Service Money Orders and Other,null,251,251,251,II,Deposits and Withdrawals of Operating Cash,52,2013,1,2012,4,10,01
2,2012-10-01,Federal Reserve Account,Withdrawals,NASA programs,null,0,0,0,II,Deposits and Withdrawals of Operating Cash,51,2013,1,2012,4,10,01
3,2012-10-01,Federal Reserve Account,Withdrawals,Medicare,null,17038,17038,17038,II,Deposits and Withdrawals of Operating Cash,50,2013,1,2012,4,10,01
4,2012-10-01,Federal Reserve Account,Withdrawals,Medicaid,null,378,378,378,II,Deposits and Withdrawals of Operating Cash,49,2013,1,2012,4,10,01

In [6]:
# Filter the combined_withdrawals DataFrame for withdrawals and exclude specific categories
withdrawals = withdrawals[
    (withdrawals["transaction_catg"] != "Public Debt Cash Redemp. (Table IIIB)") &
    (withdrawals["transaction_catg"] != "Public Debt Cash Redemp. (Table III-B)")
]

In [7]:
# Group by fiscal year and quarter, then calculate unique dates and unique records
unique_counts = withdrawals.groupby(["record_fiscal_year", "record_fiscal_quarter"]).agg(
    unique_dates=("record_date", "nunique"),  # Count unique dates
    unique_records=("record_date", "size")   # Count total records
)

# Convert the result to a DataFrame for better readability
unique_counts_df = unique_counts.reset_index()
unique_counts_df.columns = ["Fiscal Year", "Fiscal Quarter", "Unique Dates", "Unique Records"]

# Display the result
print(unique_counts_df)

   Fiscal Year Fiscal Quarter  Unique Dates  Unique Records
0         2013              1            62            2197
1         2013              2            61            2117
2         2013              3            64            2142
3         2013              4            64            2180
4         2014              1            62            2097
5         2014              2            61            2048
6         2014              3            64            2122
7         2014              4            64            2136
8         2015              1            62            2243
9         2015              2            61            2188
10        2015              3            64            2198
11        2015              4            65            2295
12        2016              1            62            2206
13        2016              2            62            2157
14        2016              3            64            2209
15        2016              4            64            2266
16        2017              1            61            2207
17        2017              2            62            2183
18        2017              3            64            2221
19        2017              4            63            2247
20        2018              1            62            2253
21        2018              2            62            2213
22        2018              3            64            2229
23        2018              4            63            2260
24        2019              1            62            2292
25        2019              2            61            2177
26        2019              3            64            2288
27        2019              4            64            2350
28        2020              1            62            2334
29        2020              2            62            2546
30        2020              3            64            3425
31        2020              4            65            4146
32        2021              1            62            4344
33        2021              2            61            4931
34        2021              3            64            5631
35        2021              4            64            5966
36        2022              1            63            5822
37        2022              2            62            5868
38        2022              3            63            6502
39        2022              4            64            6715
40        2023              1            61            6115
41        2023              2            62            6213
42        2023              3            63            6313
43        2023              4            63            6311
44        2024              1            62            6262
45        2024              2            62            6262
46        2024              3            63            6363
47        2024              4            64            6464
48        2025              1            62            6324
49        2025              2            61            6222
50        2025              3            13            1326

In [8]:
import pandas as pd

# List all variables in the current global scope
dataframes = {name: obj for name, obj in globals().items() if isinstance(obj, pd.DataFrame)}

# Display the names of all DataFrames
print("DataFrames in the current project:")
for name, df in dataframes.items():
    print(f"{name}: {df.shape} (rows, columns)")

DataFrames in the current project:
_: (5, 17) (rows, columns)
__: (25, 17) (rows, columns)
___: (5, 17) (rows, columns)
withdrawals_historic: (173268, 17) (rows, columns)
_3: (5, 17) (rows, columns)
withdrawals_latest: (14008, 17) (rows, columns)
_4: (25, 17) (rows, columns)
withdrawals: (184126, 17) (rows, columns)
_5: (5, 17) (rows, columns)
unique_counts: (51, 2) (rows, columns)
unique_counts_df: (51, 4) (rows, columns)